{% extends "base.html" %}

{% block content %}

<h1>Signup</h1>
<form method="POST">
    <table>
        <tbody>
            <tr>
                <td>
                    <label>Username:</label>
                </td> 
                <td>
                    <input type="text" name="username" value="{{username}}"/>
                    <span class="error">{{username_error}}</span>
                </td>
            </tr>
            <tr>       
                <td>     
                    <label>Password:</label>
                </td>        
                <td>        
                    <input type="password" name="password" value="{{password}}"/>
                    <span class="error">{{password_error}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Verify Password:</label>
                </td>
                <td>    
                    <input type="password" name="verify" value="{{verify}}"/>
                    <span class="error">{{verify_error}}</span>
                </td>
            </tr>
            <tr>
                <td>              
                    <label>Email(Optional):</label>
                </td>
                <td>
                    <input type="text" name="email" value="{{email}}"/>
                    <span class="error">{{email_error}}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit"/>       
</form>

{% endblock %}